<ion-view view-title="home">
  <ion-content class="content">
    <div class="subPage">
      <h3>Add A Child</h3>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input class="child-input" type="text" placeholder="First Name" ng-model="child.user_first_name">
        </label>
        <label class="item-input-wrapper">
          <input class="child-input" type="text" placeholder="Last Name" ng-model="child.user_last_name">
        </label>
        <label class="item-input-wrapper">
          <input class="child-input" type="text" placeholder="email" ng-model="child.user_email">
        </label>
        <label class="item-input-wrapper">
          <input class="child-input" type="text" placeholder="password" ng-model="child.user_password">
        </label>
        <label class="item-input-wrapper">
          <input class="child-input" type="text" placeholder="image url" ng-model="child.user_image">
        </label>
        <!-- <a href="#/home"> -->
          <button class="button button-small" ng-click="submitChild(child)">Submit</button>
        <!-- </a> -->
      </div>
      <div class="backWrapper" ng-click="goback()">
        <img class="backButton" src="./img/arrow-88-48.png" />
        <h6>Go Back</h6>
      </div>
    </div>
  </ion-content
</ion-view>
