<ion-view view-title="home">
  <ion-content>
    <div class="subPage">
      <a href="#/home">
      <img class="homeButton" src="./img/house-48.png"/>
      </a>
      <!-- <div>
        <h2>Choose chores.</h2>
        <div class="choreWrapper">
          <div class="chore" ng-repeat="chore in chores">
            <input type="checkbox"/>
            <h6 class="choreTitle">{{chore.chore_name}}</h6>
            <h6 class="chorePoints">{{chore.chore_value}} points</h6>
            <button class="button button-small">Remove</button>
          </div>
        </div> -->
        <!-- <div class="createChoreWrapper">
          <h5>Tap here to create a new chore.</h5>
          <a href="#/makeChore">
            <img class="addImg" src="./img/plus-5-48.png"/>
          </a>
        </div>
      </div> -->
      <h2>Create A New Chore</h2>
      <div class="item item-input-inset">
        <h5>Name this chore.</h5>
        <label class="item-input-wrapper">
          <input type="text" placeholder="chore title" ng-model="chore.chore_name">
        </label>
        <h5>Give instructions.</h5>
        <label class="item-input-wrapper">
          <input type="text" placeholder="instructions" ng-model="chore.chore_description">
        </label>
        <h5>Chose how many points to award.</h5>
        <label class="item-input-wrapper">
          <input type="number" placeholder="points to award" ng-model="chore.chore_value">
        </label>
        <h5>How often should this chore occur?</h5>
        <div class="chore-checkbox">
        <label class="recuranceCheckbox">
          <input type="checkbox" value="true"  ng-model="chore.chore_daily"/>
          <h6 class="occurance">Daily</h6>
          </label>
          <label class="recuranceCheckbox">
          <input type="checkbox" value="true"  ng-model="chore.chore_weekly"/>
          <h6 class="occurance">Weekly</h6>
          </label>
          <label class="recuranceCheckbox">
          <input type="checkbox" value="true"  ng-model="chore.chore_monthly"/>
          <h6 class="occurance">Monthly</h6>
          </label>
          </div>
          <!-- <button class="button button-small">Submit</button> -->

      <div>
        <h2>Select children to assign.</h2>
        <div class="selectChildWrapper" ng-repeat="child in childs"><!--ng-repeat over children-->
          <ng-form name="childUser">
          <input type="checkbox" ng-true-value="{{chore.user_id_pk}}" ng-model="chore.user_id_pk"/>
          <div class="item item-avatar" id="chooseChildAvatar">
              <img class="smallAvatar" src="{{child.user_image}}">
              <h3 class="smallAvatarName">{{child.user_first_name}} {{child.user_last_name}}</h3>
          </div>
          </ng-form>
        </div>
      </div>
      <button class="button button-small" ng-click="submitChore(chore)">Submit</button>
    </div>
    </div>
  </ion-content
</ion-view>
