<ion-view view-title="home">
  <ion-content>
    <div class="childPage" id="starWars">
      <div class=pointsHolder>
        <img id="starWarsImage" ng-src="../img/death-star-2nd-icon.png"/>
        <h1 id="starWarsPoints">{{totalpoints}}755<span class="pointSpan">points<span></h1>
        <!-- <h6>points</h6> -->
      </div>
      <div class="starWarsPrizeWrapper">
        <h3 id="starWarsHeadline">Prizes</h3>
        <div class="childRewardWrapper" id="starWarsWrapper">
          <div class="childReward"><!--ngrepeat rewards-->
            <h6 class="childRewardName" id="starWarsChore">{{reward.name}}adaf</h6>
            <h6 id="starWarsChore">{{reward.points}}131 points</h6>
          </div>
        </div>
      </div>
    </div>
  </ion-content
</ion-view>
