<ion-view view-title="home">
  <ion-content>
    <div class="childPage" id="{{theme}}">
      <div>
        <img src="{{url}}"/>
        <h1 id="{{theme}}Name">{{user.user_first_name}}</h1>
      </div>
      <div>
      <h3 id="{{theme}}Headline">Today's Chores</h3>
      <div class="childChoreWrapper" id="{{theme}}Wrapper">
        <div class="childChore" ng-repeat="dchore in dailyChores">
          <input type="checkbox" ng-checked="dchore.chore_status" ng-click="checkOffchore(dchore.assigned_chore_pk)"></input>
          <h4 class="childChoreName" id="{{theme}}Chore" ng-click="revealer()">{{dchore.chore_name}}</h4>
          <div ng-show="hide">
            <h4 class="childChoreName" id="{{theme}}Chore">{{dchore.chore_description}}</h4>
          </div>
        </div>
      </div>
      <h3 id="{{theme}}Headline">This Weeks Chores</h3>
      <div class="childChoreWrapper" id="{{theme}}Wrapper">
        <div class="childChore" ng-repeat="wchore in weeklyChores">
          <input type="checkbox" ng-checked="wchore.chore_status" ng-click="checkOffchore(wchore.assigned_chore_pk)"></input>
          <h4 class="childChoreName" id="{{theme}}Chore" ng-click="revealer()">{{wchore.chore_name}}</h4>
          <div ng-show="hide">
            <h4 class="childChoreName" id="{{theme}}Chore">{{wchore.chore_description}}</h4>
          </div>
        </div>
      </div>
      <h3 id="{{theme}}Headline">Monthly Chores</h3>
      <div class="childChoreWrapper" id="{{theme}}Wrapper">
        <div class="childChore" ng-repeat="mchore in monthlyChores">
          <input type="checkbox"  ng-checked="mchore.chore_status" ng-click="checkOffchore(mchore.assigned_chore_pk)"></input>
          <h4 class="childChoreName" id="{{theme}}Chore" ng-click="revealer()">{{mchore.chore_name}}</h4>
          <div ng-show="hide">
            <h4 class="childChoreName" id="{{theme}}Chore">{{mchore.chore_description}}</h4>
          </div>
        </div>
      </div>
      <div class="childNavigation">
        <a class="button button-small" id="{{theme}}Button" href=#/child/bank>See My Bank</a>
        <button class="button button-small" id="{{theme}}Button" ng-click=openModal(1)>Customize</button>
      </div>
      <div class="childNavigation">
      <h3 <button class="button button-small" id="{{theme}}Button" ng-click="logout()">Logout</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
<!--Theme Modal -->
<script id="themeModal.html" type="text/ng-template">
  <div class="modal transparent">
    <div class="card">
      <img class="closeX" src="./img/x-mark.png" ng-click="closeModal(1)"></i>
      <div>
       <h3 class="title">Choose Your Own Theme!</h3>
      </div>
      <div class="themeCard">
        <div class="themeWrapper">
           <input type="radio" id="selection" ng-model="choice" ng-value="'baseball'">
            <h6 class="theme">Baseball</h6>
           </input>
        </div>
        <div class="themeWrapper">
           <input type="radio" id="selection" ng-model="choice" ng-value="'charlieBrown'">
            <h6 class="theme">Charlie Brown</h6>
           </input>
        </div>
        <div class="themeWrapper">
           <input type="radio" id="selection" ng-model="choice" ng-value="'princess'">
            <h6 class="theme">Princess</h6>
           </input>
        </div>
        <div class="themeWrapper">
           <input type="radio" id="selection" ng-model="choice" ng-value="'starWars'">
            <h6 class="theme">Star Wars</h6>
           </input>
        </div>
        <div class="themeWrapper">
           <input type="radio" id="selection" ng-model="choice" ng-value="'water'">
            <h6 class="theme">Water</h6>
           </input>
        </div>
        <button class="button button-small" ng-click="setTheme(choice)">Submit</button>
      </div>
    </div>
  </div>
</script>
<!--Picture Modal  -->
<!-- <script id="takePictureModal.html" type="text/ng-template"> -->
  <!-- <div class="modal transparent"> -->
    <!-- <div class="card"> -->
      <!-- <img class="closeX" src="./img/x-mark.png" ng-click="closeModal(2)"></i> -->
      <!-- add to modal for camera -->
        <!-- <ion - content ng-controller="cameraCtrl"> -->
          <!-- <img ng-show="imgURI !== undefined"  ng-src={{imgURI}}> -->
          <!-- <img ng-show="imgURI === undefined"  ng-src="http://placehold.it/300x300"> -->
          <!-- <button class="button" ng-click="takePicture()">Take Picture</button> -->
        <!-- </ion - content> -->
        <!-- add to modal for camera -->
      <!-- <h3>{{choreName}}</h3> -->
      <!-- <img src="{{pic}}"/> -->
      <!-- <button>Confirm</button> -->
      <!-- <button>Deny</button> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </script> -->
