<ion-view view-title="home">
  <ion-content class="page">
    <div class="page">
      <div class="page2">
      <img src="./img/Logo.png" class="title-icon2" alt="Chore Check-Off" />
      </div>
      <div class="item item-input-inset">
        <h3>Child Login</h3>
        <!-- <label class="item-input-wrapper">
          <input  type="text"  placeholder="Household Name" ng-model="childUser.household">
        </label> -->
        <label class="item-input-wrapper">
          <input type="text" placeholder="email" ng-model="childUser.email">
        </label>
        <label class="item-input-wrapper">
          <input type="password" placeholder="password" ng-model="childUser.password">
        </label>
        <button class="button button-small" ng-click="loginChild(childUser)">Submit</button>
      </div>
      <a class="button" id="switchLogin" href="#/login">Tap here to login as a parent!</a>
      </div>
  </ion-content
</ion-view>
