<ion-view view-title="home">
  <ion-content class="page">
    <div>
      <div class="item item-input-inset">
        <h5></h5>
        <label class="item-input-wrapper">
          <input  type="text"  placeholder="Household Name" ng-model="childUser.household">
        </label>
        <label class="item-input-wrapper">
          <input type="text" placeholder="Username" ng-model="childUser.email">
        </label>
        <label class="item-input-wrapper">
          <input type="password" placeholder="password" ng-model="childUser.password">
        </label>
        <button class="button button-small" ng-click="loginChild(childUser)">Submit</button>
      </div>
      <a href="#/login">
        <h6>Tap here to login as a parent!</h6>
      </a>
    </div>
  </ion-content
</ion-view>
