<ion-view view-title="home">
  <ion-content>
    <div class="page">
      <div class="backWrapper" ng-click="goback()">
        <img class="backButton" src="./img/arrow-88-48.png" />
        <h6>Go Back</h6>
      </div>
      <h2>{{child.user_first_name}}</h2>
      <div class="item item-input-inset">
        <h5>Change Image</h5>
        <label class="item-input-wrapper">
          <input id="child-setting-image" type="text" placeholder="new image url" style="text-align: center" ng-model="user_image"/>
        </label>
        <button class="button button-small" ng-click="childSubmitImage(user_image)">Submit</button>
      </div>
      <div class="item item-input-inset">
        <h5>Change Name</h5>
        <label class="item-input-wrapper">
          <input id="child-setting-name" type="text" placeholder="new name" style="text-align: center" ng-model="user_first_name"/>
        </label>
        <button class="button button-small" ng-click="childSubmitName(user_first_name)">Submit</button>
      </div>
      <div class="item item-input-inset">
        <h5>Change Email</h5>
        <label class="item-input-wrapper">
          <input id="child-setting-email" type="email" placeholder="new username" style="text-align: center" ng-model="user_email"/>
        </label>
        <button class="button button-small" ng-click="childSubmitEmail(user_email)">Submit</button>
      </div>
      <div class="item item-input-inset">
        <h5>Change Password</h5>
        <label class="item-input-wrapper">
          <input id="child-setting-password" type="password" placeholder="new password" style="text-align: center" ng-model="user_password"/>
        </label>
        <button class="button button-small" ng-click="childSubmitPassword(user_password)">Submit</button>
      </div>
      <p>You can help your child customize thier settings inside their portal!</p>

    </div>
  </ion-content
</ion-view>
