<ion-view view-title="Login">
  <ion-content class="content">
  <div class="page">

    <img src="./img/Logo.png" class="title-icon" alt="Chore Check-Off" />

    <!--New user sign in  -->
    <h6 ng-click="revealer()">New Parent Users Tap <span>Here<span></h6>
    <div class="item item-input-inset" ng-show="hide">
      <h3>First name</h3>
      <label class="item-input-wrapper">
        <input  type="text"  placeholder="First Name" ng-model="newUser.firstName">
      </label>
      <h3>Last name</h3>
      <label class="item-input-wrapper">
        <input  type="text"  placeholder="Last Name" ng-model="newUser.lastName">
      </label>
      <h3>Zip code</h3>
      <label class="item-input-wrapper">
        <input  type="number"  placeholder="zip code" ng-model="newUser.zipcode">
      </label>
      <h3>Your unique family name</h3>
      <label class="item-input-wrapper">
        <input  type="text"  placeholder="Household Name" ng-model="newUser.household">
      </label>
      <h3>Email</h3>
      <label class="item-input-wrapper">
        <input  type="email"  placeholder="Email" ng-model="newUser.email">
      </label>
      <h3>Password</h3>
      <label class="item-input-wrapper">
        <input  type="password"  placeholder="password" ng-model="newUser.password">
      </label>
      <button class="button button-small" ng-click="makeUser(newUser)">Create User</button>
    </div>

    <!--Local Sign-In  -->
    <div class="item item-input-inset">
      <h3>Parent Login</h3>
    <label class="item-input-wrapper">
      <input type="email" placeholder="email" ng-model="user.email">
    </label>
    <label class="item-input-wrapper">
      <input type="password" placeholder="password" ng-model="user.password">
    </label>
    <button class="button button-small" ng-click="login(user)">
      Submit
    </button>
  </div>
  <a class="button" id="switchLogin" href="#/child/login">Tap here to login as a child!</a>
  </div>
  </ion-content>
</ion-view>
