<ion-view view-title="Login">
  <ion-content>
    <a class="button" href="#/child/login">Click here to login as a child!</a>
    <!--New user sign in  -->
    <h6 ng-click="revealer()">New Users Click Here<h6>
    <div class="item item-input-inset" ng-show="hide">
      <label class="item-input-wrapper">
        <input  type="text"  placeholder="First Name">
      </label>
      <label class="item-input-wrapper">
        <input  type="text"  placeholder="Last Name">
      </label>
      <label class="item-input-wrapper">
        <input  type="text"  placeholder="Username">
      </label>
      <label class="item-input-wrapper">
        <input  type="password"  placeholder="password">
      </label>
      <button>Create User</button>
    </div>
    <!--Local Sign-In  -->
    <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Username">
    </label>
    <label class="item-input-wrapper">
      <input type="password" placeholder="password">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>
  <!--OAuth Sign-Ins  -->
  <button>Login with Google</button>
  <button>Login with Facebook</button>
  </ion-content>
</ion-view>
