<ion-view view-title="Login">
  <ion-content class="loginPage">
    <a class="button" id="switchLogin" href="#/child/login">Click here to login as a child!</a>
    <!--New user sign in  -->
    <h6 ng-click="revealer()">New Parent Users Click Here<h6>
    <div class="item item-input-inset inputHolder" ng-show="hide">
      <h5>Your first name.</h5>
      <label class="item-input-wrapper">
        <input  type="text"  placeholder="First Name">
      </label>
      <h5>Your last name.</h5>
      <label class="item-input-wrapper">
        <input  type="text"  placeholder="Last Name">
      </label>
      <h5>Your zip code.</h5>
      <label class="item-input-wrapper">
        <input  type="number"  placeholder="zip code">
      </label>
      <h5>Enter a unique name to identify your family.</h5>
      <label class="item-input-wrapper">
        <input  type="text"  placeholder="Household Name">
      </label>
      <h5>Enter a unique username that you will use to login</h5>
      <label class="item-input-wrapper">
        <input  type="text"  placeholder="Username">
      </label>
      <h5>Enter a password that you will use to login</h5>
      <label class="item-input-wrapper">
        <input  type="password"  placeholder="password">
      </label>
      <button class="button button-small">Create User</button>
    </div>
    <!--Local Sign-In  -->
    <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Username">
    </label>
    <label class="item-input-wrapper">
      <input type="password" placeholder="password">
    </label>
    <button class="button button-small" ng-c>Submit</button>
  </div>
  <!--OAuth Sign-Ins  -->
  <!-- <button>Login with Google</button>
  <button>Login with Facebook</button> -->
  </ion-content>
</ion-view>
