<ion-view view-title="home">
  <ion-content class="content">
    <div class="subPage">
      <div class="backWrapper" ng-click="goback()">
        <img class="backButton" src="./img/arrow-88-48.png" />
        <h6>Go Back</h6>
      </div>
      <h2>{{child.user_first_name}}'s Rewards</h2>
      <h3>Total points: {{child.user_points_total}}</h3>
      <div class="rewardWrapper" ng-repeat="reward in rewards track by $index">
        <h4 class="rewardName">{{reward.reward_description}}</h4>
        <h4 class="rewardPoints">{{reward.reward_total}} points</h4>
        <button class="button button-small" ng-click="removeReward(reward.reward_id_pk, $index)">Remove</button>
      </div>
      <h5>Tap here to add a reward.</h5>
      <img class="addReward" src="./img/plus-5-48.png" ng-click="openModal()"/>
    </div>
  </ion-content
</ion-view>
<!--Reward Modal-->
<script id="rewardModal.html" type="text/ng-template">
  <div class="modal transparent">
    <div class="card">
      <img class="closeX" src="./img/x-mark.png" ng-click="closeModal()"></i>
      <div>
       <h3 class="title">Add a reward!</h3>
     </div>
      <div class="item item-input-inset">
        <h5>Enter a reward</h5>
        <label class="item-input-wrapper">
          <input  type="text"  placeholder="reward name" ng-model="newReward.reward_description">
        </label>
        <h5>Enter a point value for earning this reward.</h5>
        <label class="item-input-wrapper">
          <input  type="number"  placeholder="points" ng-model="newReward.reward_total">
        </label>
        <h5>Would you like this reward assigned <br/>to all of your children?</h5>
        <div class="toggleWrapper">
            <h5>Yes</h5>
            <label class="toggle">
              <input type="checkbox" id="togglecheckbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
            <h5>No</h5>
          </div>
        <button class="button button-small" ng-click=makeReward(newReward)>Submit</button>
      </div>
    </div>
  </div>
</script>
