<ion-view view-title="home">
  <ion-content>
    <div class="page">
      <a href="#/home">
      <img class="homeButton" src="./img/house-48.png"/>
      </a>
      <a href="#/editChild/{{id}}">
      <img class="tools" src="./img/settings-24-48.png"/>
      </a>
      <div>
          <img class="largeAvatar" src="{{child.user_image}}">
          <h1 class="name">{{child.user_first_name}}</h1>
      </div>

      <h3>Today's Chores</h3>
      <div class="choreWrapper">
        <div class="chore"ng-repeat="daily in dailyChores track by $index">
          <div class="choreBox">
            <input type="checkbox" ng-checked="daily.chore_status"/>
            <h5 class="choreName">{{daily.chore_name}}</h5>
          </div>
          <div class=choreButtons>
            <button class="choreButton" id="confirm" ng-click="confirmChore(daily.assigned_chore_pk, $index, daily)">Confirm</button><!--needs chore id-->
            <button class="choreButton" id="deny" ng-click="denyChore(daily.assigned_chore_pk, $index, daily)">Deny</button>
            <button class="choreButton" id="remove" ng-click="removeChore(daily.assigned_chore_pk, $index, daily)">Remove</button>
          </div>
        </div>
      </div>
      <h3>Weekly Chores</h3>
      <div class="choreWrapper">
        <div class="chore"ng-repeat="weekly in weeklyChores">
          <div class="choreBox">
            <input type="checkbox" ng-checked="weekly.chore_status"/>
            <h5 class="choreName">{{weekly.chore_name}}</h5>
          </div>
          <div class=choreButtons>
            <button class="choreButton" id="confirm" ng-click="confirmChore(weekly.assigned_chore_pk, $index, weekly)">Confirm</button><!--needs chore id-->
            <button class="choreButton" id="deny" ng-click="denyChore(weekly.assigned_chore_pk, $index, weekly)">Deny</button>
            <button class="choreButton" id="remove" ng-click="removeChore(weekly.assigned_chore_pk, $index, weekly)">Remove</button>
          </div>
        </div>
      </div>
      <h3>Monthly Chores</h3>
      <div class="choreWrapper">
        <div class="chore"ng-repeat="monthly in monthlyChores">
          <div class="choreBox">
            <input type="checkbox" ng-checked="monthly.chore_status"/>
            <h5 class="choreName">{{monthly.chore_name}}</h5>
          </div>
          <div class=choreButtons>
            <button class="choreButton" id="confirm" ng-click="confirmChore(monthly.assigned_chore_pk, $index, monthly)">Confirm</button><!--needs chore id-->
            <button class="choreButton" id="deny" ng-click="denyChore(monthly.assigned_chore_pk, $index, monthly)">Deny</button>
            <button class="choreButton" id="remove" ng-click="removeChore(monthly.assigned_chore_pk, $index, monthly)">Remove</button>
          </div>
        </div>
      </div>
      <div>
        <h3 class="totalPoints">Total points: {{child.user_points_total}}</h3>
        <div class="pointReducer">
          <h4>Reduce Points</h4>
          <input class="numberInput" type="number"  placeholder="#">
        </div>
        <div class="setRewardWrapper">
          <h4>Tap Here To Set Rewards</h4>
          <a href="#/setRewards/{{child.user_id_pk}}">
            <img src="./img/star-8-48.png"/>
          </a>
        </div>
      </div>
    <div>
  </ion-content>
</ion-view>
<!-- picture confirmation modal-->
<!-- <script id="picConfModal.html" type="text/ng-template">
  <div class="modal transparent">
    <div class="card">
      <i class="icon ion-ios-close close-modal" ng-click="closeModal()"></i>
      <!-- add to modal for camera -->
        <!-- <ion - content ng-controller="cameraCtrl">
          <img ng-show="imgURI !== undefined"  ng-src={{imgURI}}>
          <img ng-show="imgURI === undefined"  ng-src="http://placehold.it/300x300">
          <button class="button" ng-click="takePicture()">Take Picture</button>
        </ion - content>
        <!-- add to modal for camera -->
      <!-- <h3>{{choreName}}</h3>
      <img src="{{pic}}"/>
      <button>Confirm</button>
      <button>Deny</button>
    </div>
  </div>
</script>  -->
