<ion-view view-title="home">
  <ion-content>
    <a href="#/editChild/{{id}}">
    <img src="../img/settings-24-48.png"/>
    </a>
    <div>
        <img src="{{kidImage}}">
        <h2>{{kidName}}</h2>
    </div>
    <div>
      <h3>Total points:{{points}}</h3>
      <div>
        <h5>Reduce Points</h5>
        <input type="number"/>
      </div>
      <a href="#/setRewards/{{id}}">
      <h3>Set Rewards</h3>
      </a>
    </div>
    <h3>Today's Chores</h3>
    <div>
      <div><!--ng repeat  daily chores-->
        <input type="checkbox"/>
        <h5>{{chorename}}</h5>
        <button ng-click="openModal()">Confirm</button><!--needs chore id-->
      </div>
    </div>
    <h3>This Weeks Chores</h3>
    <div>
      <div><!--ng repeat  weekly chores-->
        <input type="checkbox"/>
        <h5>{{chorename}}</h5>
        <button ng-click="openModal()">Confirm</button><!--needs chore id-->
      </div>
    </div>
    <h3>Special Chores</h3>
    <div>
      <div><!--ng repeat  weekly chores-->
        <input type="checkbox"/>
        <h5>{{chorename}}</h5>
        <button ng-click="openModal()">Confirm</button><!--needs chore id-->
      </div>
    </div>

    <!-- picture confirmation modal-->
    <script id="picConfModal.html" type="text/ng-template">
      <div class="modal transparent">
        <div class="card">
          <i class="icon ion-ios-close close-modal" ng-click="closeModal()"></i>
          <h3>{{choreName}}</h3>
          <img src="{{pic}}"/>
          <button>Confirm</button>
          <button>Deny</button>
        </div>
      </div>
    </script>

  </ion-content
</ion-view>
