<ion-view view-title="home">
  <ion-content>
    <div class="item item-input-inset" >
      <h5>Enter your zip code.</h5>
      <label class="item-input-wrapper">
        <input  type="number"  placeholder="zip code">
      </label>
      <h5>Enter a unique name to identify your family.</h5>
      <label class="item-input-wrapper">
        <input  type="text"  placeholder="Household Name">
      </label>
      <button class="button button-small">Submit</button>
    </div>
  </ion-content>
</ion-view>
