h1{
  color:#97DB45;
}
h2{
  color:#97DB45;
  text-align: center;
}

h3{
  color:#79C99E;
}
h4{
  color: #79C99E;
}
h6{
  color:grey;
}
h5{
  color:#010202;
  text-align: center;
}
.item h5{
  font-size: 12px;
}
span{
  color:#6B4E71;
}
a{
  text-decoration: none;
}
p{
  color: #f9f9f9;
  text-align: center;
}
