/*Tracker Page*/
.largeAvatar{
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%
}
.choreWrapper{
  background: #50849A;
  width: 95vw;
  min-height: 10vh;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.chore{
  display: flex;
  align-items: center;
  margin: 5px;
}
.choreName{
  margin:5px;
}
.choreButton{
  color: #113537;
  border-radius: 3px;
  border-color: grey;
  margin-left: 5px;
}
#confirm{
  background: #97DB4F;
}
#deny{
  background: #feff84;
}
#remove{
  background: #6B4E71;
}
.pointReducer{
  background: #0B4293;
  width: 95vw;
  height: 10vh;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.numberInput{
  height: 5vh;
  width: 15vw;
  border-radius: 3px;
}
.setRewardWrapper{
  margin:20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.totalPoints{
  margin-top: 20px !important;
  margin-bottom: 20px;
}
.name{
  text-align: center;
}
.tools{
  height: 18px;
  width: 18px;
  position:relative;
  left: 42vw;
  top: -4vh;
}
.choreButtons{
  width: 58vw;
  display: flex;
  justify-content: flex-end;
}
.choreBox{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width: 35vw;
  /*margin-left: 5px;*/
}
